a {
  color: #9771f3;
}

.App {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.App-header {
  margin: 30px 0;
  text-align: center;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  padding: 20px;
}
